
/*Navbar Starts*/

.navbar-inverse .navbar-nav>li>a {
    color: black;
    font-size: 17px;
}
.navbar-inverse .navbar-nav>li>a:hover{
   color: #1D7CAB;
}
.navbar-inverse {
    background-color: #F9F9F9;
    border-color: #F9F9F9;
    margin-bottom: 0;
}


.navbar-inverse .navbar-brand {
    margin-top: -15px;

}



/*Slider Starts*/



/*banner starts*/
.overlay {
    background: url("../images/slider-1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;
    color: #ffffff;
    background-size: cover;
    padding-top: 210px;

}
.overlay .sp{
    letter-spacing: 5px;
}



/*WHAT SERVICES DO I OFFER start*/
#SERVICES{
    background-color: #F9F9F9;
    padding-bottom: 30PX;
}
#SERVICES .fp{
   color: grey;
}
#SERVICES .row .h2{
    padding: 50px 0px 20px 0px;
    font-size: 40px;
}
#SERVICES .row .h3{
    padding: 60px 0px 30px 0px;
}

/*LATEST INSTAGRAM SHOTS start*/

#latest_instagram{
    background-color: #2C2C2C;
}

#latest_instagram .row .h4{
    padding: 50px 0px 20px 0px;
    color: white;

}

#latest_instagram .row .col-lg-4{
    padding-bottom: 80px;

}

#latest_instagram .row .col-lg-4 p{
    padding-top: 36px;
    padding-left: 100px;

}
#latest_instagram i{
    margin-right: 10px;
}
.btn {
    color: #fff;
    background-color: #2C2C2C;
    border-color: #A6A6A6;
    padding: 10px;
}

#latest_instagram .row .col-lg-4 a:hover{
    color: white;
}

/*FROM THE JOURNAL*/
#from_the_journal{
    background-color: #f9f9f9;
    padding: 30px;
}

/*<!--a littel about me-->*/
#littel{
    background-color: #f9f9f9;
    padding: 30px;
}













/*address tsart*/
#testP{
    background-color: #373737;
    color: whitesmoke;
    padding: 50px;
}






/*footer start*/

.footer{
    background-color: #282828;
    color: white;
    border: #282828;
    border-radius: 0;
}
.footer .footertoo{
    padding: 20px;
    font-size: 20px;
}
.footer .nav{
    padding: 20px;
    font-size: 20px;
}
.footer .footertoo a{
    margin-left: 10px;
    border: 1px solid whitesmoke;
    border-radius: 22px;
    padding: 10px;
    color: white;
}
.footer .footertoo a:hover{
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 22px;
    padding: 10px;
    color: black;
}
